* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f0f0f0;
  --text-color: #333;
  --primary-color: #0066cc;
  --hover-color: #ffccf2;
  --footer-bg: #004d99;
  --section-bg: white;
  --transition-speed: 0.4s;
}

.dark-mode {
  --bg-color: #121212;
  --text-color: #f0f0f0;
  --primary-color: #0052a3;
  --hover-color: #ff99e6;
  --footer-bg: #0050a1;
  --section-bg: #1e1e1e;
  --transition-speed: 0.4s;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color var(--transition-speed),
    color var(--transition-speed), border-color var(--transition-speed),
    box-shadow var(--transition-speed), opacity var(--transition-speed);
}

nav {
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  transition: background-color var(--transition-speed),
    color var(--transition-speed), border-color var(--transition-speed),
    box-shadow var(--transition-speed), opacity var(--transition-speed);
}

.logo a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-family: "Tangerine", cursive;
  font-size: 36px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s, transform 0.2s;
}

.nav-links a:hover {
  color: var(--hover-color);
  transform: scale(1.1);
}

.nav-links .active {
  color: var(--hover-color);
  transform: scale(1.1);
  pointer-events: none;
}

header {
  text-align: center;
  padding: 2rem;
  background-color: var(--section-bg);
  margin-bottom: 1rem;
  border-radius: 10px;
  transition: background-color var(--transition-speed),
    color var(--transition-speed), border-color var(--transition-speed),
    box-shadow var(--transition-speed), opacity var(--transition-speed);
}

header p {
  color: grey;
}

main section {
  padding: 2rem;
  margin: 1rem auto;
  max-width: 800px;
  background-color: var(--section-bg);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color var(--transition-speed),
    color var(--transition-speed), border-color var(--transition-speed),
    box-shadow var(--transition-speed), opacity var(--transition-speed);
}

.education-entry {
  padding: 1rem;
}

.education-entry li {
  padding: 10px;
}

.degree-name {
  font-weight: 600;
}

main form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

main form div {
  display: flex;
  flex-direction: column;
}

main form label {
  font-weight: bold;
}

main form input,
main form textarea {
  padding: 0.75rem;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

main form input:focus, 
main form textarea:focus {
  outline: none;
  border-color: #1e90ff;
  box-shadow: 0 0 5px #1e90ff;
}

main form textarea {
  resize: vertical;
}

main form button {
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
  align-self: flex-start;
}

main form button:hover {
  background-color: #004d99;
  transform: scale(1.02);
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  margin-bottom: 0.5rem;
}

ul li a {
  text-decoration: none;
  color: #0066cc;
}

ul li a:hover {
  text-decoration: underline;
}

#about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.about-image img:hover {
  transform: scale(1.05);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 2rem;
}

.project-card {
  background-color: #0066cc;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s, background-color 0.3s;
}

.project-card:hover {
  background-color: #004d99;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: var(--footer-bg);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  color: white;
  transition: background-color var(--transition-speed),
    color var(--transition-speed), border-color var(--transition-speed),
    box-shadow var(--transition-speed), opacity var(--transition-speed);
}

footer section {
  flex: 1 1 300px;
  margin: 1rem;
  justify-content: center;
}

.socials {
  display: flex;
  align-items: center;
}

footer .copyright {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.socials a {
  transition: transform 0.3s;
}

.socials a:hover {
  transform: scale(1.1);
}

.socials img {
  width: 44px;
  height: auto;
  margin: 0 0.5rem;
}

footer form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 1rem;
}

footer form .input-group {
  display: flex;
  width: 100%;
}

footer form input[type="email"] {
  flex-grow: 1;
  padding: 0.5rem;
  max-width: 250px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
}

footer form button {
  padding: 0.5rem 1rem;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

footer form button:hover {
  background-color: #2484e4;
}

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  transition: transform 0.2s;
}

#theme-toggle:hover {
  transform: scale(1.1);
}
